<h3> Welcome {{user_name}}!</h3>
<br>
<p>Please use the following REST API to fetch users data from database:</p>
<p> Sample APIs:</p>
<ul>
	<li>To fetch all data from the table use:  <span style="color:blue">http://localhost:5000/{{table_name}}</span></li>
	<li>To fetch by column details: <span style="color:blue">http://localhost:5000/<{{table_name}}?{{column_details}}<span></li>
<!-- 	<li>To fetch by city:  <span style="color:blue">http://localhost:5000/users?city=amstelveen</span></li>
	<li>To fetch by multiple conditions:  <span style="color:blue">http://localhost:5000/users?city=amstelveen,hauge&copmany=tcs</span></li> -->
</ul>

